{{ define "blog_forms_search"}}
<div class="search-form-section">
    <div class="sf-warp">
        <div class="container">
            <form class="big-search-form">
                <select>
                    <option>All Recipes Categories</option>
                    <option>Pizza</option>
                    <option>Salads</option>
                    <option>Desserts</option>
                    <option>Side Dishes</option>
                </select>
                <select>
                    <option>All Ingredients</option>
                    <option>Breakfast</option>
                    <option>Lunch</option>
                    <option>Dinner</option>
                </select>
                <input type="text" placeholder="Search Receipies">
                <button class="bsf-btn">Search</button>
            </form>
        </div>
    </div>
</div>
{{end}}