{{define "cabinet_partial_sidebar"}}
    <div class="nk-sidebar">
        <div class="nk-nav-scroll">
            <ul class="metismenu" id="menu">
                <li class="nav-label">Dashboard</li>
                {{range .nav}}
                    <li>
                        <a href="{{.Path}}" aria-expanded="{{if eq .IsActive true}} true {{else}} false {{end}}">
                            <i class="{{.Icon}} menu-icon"></i><span class="nav-text">{{.Title}}</span>
                        </a>
                    </li>
                {{end}}
            </ul>
        </div>
    </div>
{{end}}