{{define "blog_partial_add"}}
<section class="add-section spad">
    <div class="container">
        <div class="add-warp">
            <div class="add-slider owl-carousel">
                <div class="as-item set-bg" data-setbg="{{.add.FirstImg}}"></div>
                <div class="as-item set-bg" data-setbg="{{.add.SecondImg}}"></div>
                <div class="as-item set-bg" data-setbg="{{.add.ThirdImg}}"></div>
            </div>
            <div class="row add-text-warp">
                <div class="col-lg-4 col-md-5 offset-lg-8 offset-md-7">
                    <div class="add-text text-white">
                        <div class="at-style"></div>
                        <h2>{{.add.Title}}</h2>
                        <ul>
                            <li>{{.add.FirstItem}}</li>
                            <li>{{.add.SecondItem}}</li>
                            <li>{{.add.ThirdItem}}</li>
                            <li>{{.add.FourthItem}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{end}}