{{define "blog_partial_footer-widgets"}}
    <section class="bottom-widgets-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 ftw-warp">
                    <div class="section-title">
                        <h3>Top rated recipes</h3>
                    </div>
                    <ul class="sp-recipes-list">
                        {{range .top_rated}}
                            <li>
                                <a href="/recipes/{{.ID}}" target="_blank">
                                    <div class="rl-thumb set-bg" data-setbg="{{asset .Img}}"></div>
                                    <div class="rl-info">
                                        <span>{{.FormatedDate}}</span>
                                        <h6>{{.Title}}</h6>
                                        <div class="rating">
                                            {{range $mark := .MarksSlice}}
                                                {{if $mark}}
                                                    <i class="fa fa-star"></i>
                                                {{else}}
                                                    <i class="fa fa-star is-fade"></i>
                                                {{end}}
                                            {{end}}
                                        </div>
                                    </div>
                                </a>
                            </li>
                        {{end}}
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 ftw-warp">
                    <div class="section-title">
                        <h3>Most liked recipes</h3>
                    </div>
                    <ul class="sp-recipes-list">
                        {{range .most_liked}}
                            <li>
                                <a href="/recipes/{{.ID}}" target="_blank">
                                    <div class="rl-thumb set-bg" data-setbg="{{asset .Img}}"></div>
                                    <div class="rl-info">
                                        <span>{{.FormatedDate}}</span>
                                        <h6>{{.Title}}</h6>
                                        <div class="rating">
                                            {{range $mark := .MarksSlice}}
                                                {{if $mark}}
                                                    <i class="fa fa-star"></i>
                                                {{else}}
                                                    <i class="fa fa-star is-fade"></i>
                                                {{end}}
                                            {{end}}
                                        </div>
                                    </div>
                                </a>
                            </li>
                        {{end}}
                    </ul>
                </div>
            </div>
        </div>
    </section>
{{end}}