{{define "blog_partial_header"}}
    <header class="header-section">
        <div class="header-top">
            <div class="container">
                <div class="header-social">
                    {{range .page.Social}}
                        <a href="{{.Url}}"><i class="{{.Icon}}"></i></a>
                    {{end}}
                </div>
                <div class="user-panel">
                    <a href="#">Register</a> /
                    <a href="#">Login</a>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <a href="/" class="site-logo">
                    <img src="{{asset "img/logo.png"}}" alt="">
                </a>
                <div class="nav-switch">
                    <i class="fa fa-bars"></i>
                </div>
                <div class="header-search">
                    <a href="#"><i class="fa fa-search"></i></a>
                </div>
                {{template "blog_partial_nav" .}}
            </div>
        </div>
    </header>
{{end}}