{{define "blog_partial_recipes"}}
    <section class="recipes-page spad">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="section-title">
                        <h2>Latest recipes</h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="recipe-view">
                        <i class="fa fa-bars"></i>
                        <i class="fa fa-th active"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                {{ range .latest.items}}
                    <div class="col-lg-4 col-md-6">
                        {{template "blog_partial_recipe" .}}
                    </div>
                {{end}}
            </div>
            <div class="site-pagination">
                {{ range $num, $url := .latest.pages}}
                    {{ if eq $num $.latest.current_page}}
                        <span>{{$num}}</span>
                    {{else}}
                        <a href="{{$url}}?page={{$num}}">{{$num}}</a>
                    {{end}}
                {{else}}

                {{end}}
            </div>
        </div>
    </section>
{{end}}