{{define "blog_partial_recipe"}}
    <div class="recipe">
        <img src="/img/recipes/5.jpg" alt="">
        <div class="recipe-info-warp">
            <div class="recipe-info">
                <h3>Italian home-made pasta</h3>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star is-fade"></i>
                </div>
            </div>
        </div>
    </div>
{{end}}