{{define "blog_partial_recipes"}}
    <section class="recipes-section spad pt-0">
        <div class="container">
            <div class="section-title">
                <h2>Latest recipes</h2>
            </div>
            <div class="row">
                {{range .latest}}
                <div class="col-lg-4 col-md-6">
                    <a href="/recipes/{{.ID}}" target="_blank"> <div class="recipe">
                        <img src="{{asset .Img}}" alt="">
                        <div class="recipe-info-warp">
                            <div class="recipe-info">
                                <h3>{{.Title}}</h3>
                                <div class="rating">
                                {{range $mark := .MarksSlice}}
                                    {{if $mark}}
                                        <i class="fa fa-star"></i>
                                     {{else}}
                                        <i class="fa fa-star is-fade"></i>
                                    {{end}}
                                {{end}}
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
                {{end}}
            </div>
        </div>
    </section>
{{end}}