{{define "blog_pages_recipes"}}
    <!DOCTYPE html>
    <html lang="en">
    {{template "blog_partial_head" .}}
    <body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header section -->
    {{template "blog_partial_header" .}}
    <!-- Header section end -->

    <!-- Hero section -->
    <section class="page-top-section set-bg" data-setbg="{{asset "img/page-top-bg.jpg" }}">
        <div class="container">
            <h2>Recipe</h2>
        </div>
    </section>
    <!-- Hero section end -->


    <!-- Search section -->
    {{template "blog_forms_search" .}}
    <!-- Search section end -->


    <!-- Recipes section -->
    {{template "blog_partial_recipes" .}}
    <!-- Recipes section end -->


    <!-- Footer section  -->
    {{template "blog_partial_footer" .}}
    <!-- Footer section end -->

    <!--====== Javascripts & Jquery ======-->
    {{template "blog_partial_scripts" .}}
    </body>
    </html>
{{end}}